

.imgGame {
    height: 30vh;
    width: 100%;
}

.juegos_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

*{
    text-decoration: none;
    color: black;
}

