* {
    margin: 0;
    padding: 0;
}

/* FONDO */
* {
    background-color: hsla(179, 35%, 51%, 0.737);
}

a {
    border:solid black 1px;
    color: black;
    background-color: rgb(125, 125, 125);
}